/* General styling to keep everything consistent. */

html {
  font-family: 'Bangers', cursive;
  background-color:  #FE6402;
  text-align: center;
  color: #333333;
}

.footer {
  margin-top: 20px; 
  border: 0; 
  display: block;
  overflow: auto;
  font-family:'Trochut', cursive;
  font-size: 14px;
}

/* Homepage */  
#overall {
  background-color: white;
  max-width: 700px;
  margin: auto;
  margin-top: 50px;
  padding: 50px;
  border-radius: 10px;
}

.title  {
  font-size: 24px;
}

.container  {
  margin: auto; 
  margin-top: 40px;
  max-width: 800px; 
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  font-size: 18px;
} 

#start {
  background-color:  #FE8D46;
  padding: 20px;
  width: 30%;
  margin: auto;
  border-radius: 10px;
}

#start a {
  color: #333333;
  text-decoration: none;
  font-size: 30px;
}

#start:hover {  
  background-color: #FE6402;
}

/* Form page */

#form {
  display: inline-block;
  border-radius: 10px;
  background-color: white;
  margin: 20px 20px 0px 20px;
  padding: 15px;
  text-align: center;
  font-family: 'Bangers', cursive;
}

#img {
  display: inline-block;
  margin: 10px;
}

/* Table only */

#dTable {
  float: left;
  border: 1px solid black;
  border-radius: 5px;
  border-spacing: 0;
  border-color: #cccccc;
  padding: 5px;
  margin-bottom:  10px;
}

#dTable th {
  border-bottom: 2px solid #cccccc;
  padding: 5px 10px 10px 10px;
}

#dTable td {
  padding: 5px 10px 5px 10px;
}

/* Form only */

#enterInfo {
  margin: 100px 0px 20px 0px;
}

input {
  padding: 7px 10px;
  border-radius: 10px;
  display: inline-block;
  border: #d9d9d9 solid 1px;
  margin-bottom: 5px;
  margin-left: -130px;
}

label {
  display: inline-block;
  float: left;
  clear: left;
  width: 180px;
  text-align: right;
  margin: 9px;
}

#sub {
  background-color: #FE7A27;
  font-family: 'Bangers', cursive;
  font-size: 15px; 
  border-radius: 10px;
  border: #ffb366 solid;
  padding: 6px 12px;
}
  
#sub:hover {
  background-color: #FE7A27;
  border: #ffa64d solid;
}
